a{
	text-decoration: none;
	color: #B2B2B2;
}
body{
	width: 1320px;
}
#main_div{
	width: 90%;
	margin: 0 auto;
	font-family: "Calibri";
	/*font-family: "TImes New Roman";*/
}
#bottom_div{
	margin-top: 18px;
	padding-top: 10px;
	border-top: 2px solid #b4b4b4;
	font-size: 15px;
	text-align: center;
	color: #848484;
}

#pp_logo{
	background-image: url("../images/project_path.png");
	width: 286px;
	height: 64px;
	float: left;
	margin-top: 20px;
}
.login_details{
	float: left;
	margin-top: 55px;
	margin-left: 10px;
	color: #B2B2B2;
	font-size: 20px;
}
#cu_logo{
	background-image: url("../images/LOGO-BLACK.jpg");
	width: 230px;
	height: 100px;
	background-size: 230px 100px;
	background-repeat: no-repeat;
	float: right;
}

#top_div{
	border-bottom: 2px solid #b4b4b4;
	height: 100px;
	margin-top: -10px;
}

#middle_div{
	width: 100%;
	height: 500px;
}
.mid_col{
	width: 310px;
	background-color: #464646;
	float: left;
	margin-left: 10px;
	height: 500px;
	margin-top: 10px;
}
.pro_col{
	width: 210px;
}
#dp_div{
	background-image: url("../images/dp.jpg");
	width: 210px;
	height: 210px;
}
#dp_name{
	background-color: rgba(0,0,0,.4);
	height: 40px;
	width: 100%;
	vertical-align: bottom;
	position: relative;
	top: 170px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}
#dp_name a{
	color: #FFFFFF;
}
.icon_holder{
	float: left;
	/*border: 1px solid rgba(255,255,255,.3);*/
	margin-left: 10px;
	margin-top: 4px;
}
.icon_holder:hover{
	background-color: rgba(255,255,255,.2);
}
.icon_img{
	background-image: url("../images/icons/icon_strip.png");
	background-size: 90px 630px;
	height: 90px;
	width: 90px;
	
}
.dashboard_icon{
	background-position: 0px 0px;
}
.project_icon{
	background-position: 0px -90px;
}
.calender_icon{
	background-position: 0px -180px;
}
.friends_icon{
	background-position: 0px -270px;
}
.discussion_icon{
	background-position: 0px -360px;
}
.logout_icon{
	background-position: 0px -450px;
}
.col2{
	background-color: #FFFFFF;
}

#notification_holder{
	width: 770px;
	margin-top: 10px;
	height: 30px;
	overflow: hidden;
}
#notification{
	width: 770px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #686868;
	font-size: 20px;
	display: none;
}
#search_div{
	/*background-color: red;*/
	width: 900px;
	height: 500px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#search_bar{
	height: 40px;
	width: 770px;
}
#search_param{
	height: 40px;
	width: 560px;
	float: left;
	font-size: 25px;
}
.search_btn{
	height: 46px;
	background-color: white;
	width: 100px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 25px;

    color: #ffffff;
    background: #16499A;
    text-decoration: none;
    border: 0;
}
#icon_back{
	background: #464646;
}
#search_result{
	/*background-color: green;*/
	width: 820px;
	margin-top: 10px;
	height: 410px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.result_holder{
	width: 250px;
	height: 100px;
	background-color: #464646;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.result_image{
	height: 100px;
	width: 100px;
	background-size: 100px 100px;
	float: left;
}
.result_name{
	float: left;
	margin-left: 5px;
	font-size: 15px;
	margin-top: 5px;
	/*background: green;*/
	height: 40px;
	width: 140px;
	color: white;
	overflow: hidden;
}
.result_dept{
	color: #9e9e9e;
	margin-left: 5px;
	font-size: 13px;
	float: left;
	/*background: green;*/
	width: 90px;
	height: 50px;
	overflow: hidden;
}
.result_add{
	background: url("../images/icons/add_icon.png");
	float: right;
	width: 50px;
	height: 50px;
}