/*
Jonathan Fidelis Paul
07-08-2015
This styles the coordinator_g_schedule.jsp page
*/
#content_div
{
	background-color:#FFF;
}
#content_div td
{
	width:400px;
	text-align:left;
}
#header td
{
	background-color:#efefef;
	text-align:center;
	
}
.in_form{
	min-height:30px;
}