a{
	text-decoration: none;
	color: #B2B2B2;
}
#main_div{
	width: 90%;
	margin: 0 auto;
	font-family: "Calibri";
	/*font-family: "TImes New Roman";*/
}

#pp_logo{
	background-image: url("../images/project_path.png");
	width: 286px;
	height: 64px;
	float: left;
	margin-top: 20px;
}
.login_details{
	float: left;
	margin-top: 55px;
	margin-left: 10px;
	color: #B2B2B2;
	font-size: 20px;
}
#cu_logo{
	background-image: url("../images/LOGO-BLACK.jpg");
	width: 230px;
	height: 100px;
	background-size: 230px 100px;
	background-repeat: no-repeat;
	float: right;
}

#top_div{
	border-bottom: 2px solid #b4b4b4;
	height: 100px;
	margin-top: -10px;
}

#middle_div{
	width: 100%;
	height: 500px;
}
.mid_col{
	width: 310px;
/* 	background-color: #464646; */
	float: left;
	margin-left: 10px;
	height: 500px;
	margin-top: 10px;
}
.pro_col{
	width: 210px;
}
#dp_div{
	background-image: url("../images/dp.jpg");
	width: 210px;
	height: 210px;
}
#dp_name{
	background-color: rgba(0,0,0,.4);
	height: 40px;
	width: 100%;
	vertical-align: bottom;
	position: relative;
	top: 170px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}
#dp_name a{
	color: #FFFFFF;
}
.icon_holder{
	float: left;
	/*border: 1px solid rgba(255,255,255,.3);*/
	margin-left: 10px;
	margin-top: 4px;
}
.icon_holder:hover{
	background-color: rgba(255,255,255,.2);
}
.icon_img{
	background-image: url("../images/icons/icon_strip.png");
	background-size: 90px 630px;
	height: 90px;
	width: 90px;
	
}
.dashboard_icon{
	background-position: 0px 0px;
}
.project_icon{
	background-position: 0px -90px;
}
.calender_icon{
	background-position: 0px -180px;
}
.friends_icon{
	background-position: 0px -270px;
}
.discussion_icon{
	background-position: 0px -360px;
}
.logout_icon{
	background-position: 0px -450px;
}
.col2{
	background-color: #FFFFFF;
}
#project_div{
/* 	background-color: #464646; */
	/*height: 245px;*/
	height: 225px;
	width: 310px;
	margin-bottom: 10px;
}
.project_row{
	height: 70px;
}
.project_row:hover{
	background-color: rgba(255,255,255,.2);
}
.even{
	background-color: rgba(255,255,255,.1);
}
.pie{
    position: absolute;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 30px, 60px, 0px);
}
.hold {
    position: absolute;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 60px, 60px, 30px);
}
#pieSlice1 .pie {
    background-color: rgba(255,255,255,.6);
    -webkit-transform:rotate(50deg);
    -moz-transform:rotate(50deg);
    -o-transform:rotate(50deg);
    /*transform:rotate(180deg);*/
}
#pieSlice2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#pieSlice2 .pie {
    background-color: rgba(255,255,255,.6);
    -webkit-transform:rotate(50deg);
    -moz-transform:rotate(50deg);
    -o-transform:rotate(50deg);
    /*transform:rotate(40deg);*/
}
.pie_percentage{
	color: rgba(255,255,255,.7);
	font-size: 30px;
	position: absolute;
	margin-top: 13px;
	margin-left: 5px;
	text-shadow: 2px 2px #666666;
}
.pie_holder{
	width: 60px;
	height: 60px;
	margin: 5px 0;
	float: left;
}
.project_details_holder{
	float: left;
	width: 250px;
	height: 70px;
	overflow: hidden;
}
.project_details_holder div{
	margin-left: 5px;
}
.project_name{
	font-size: 18px;
	font-weight: bold;
	height: 22px;
	overflow: hidden;
	color: rgba(255,255,255,.8);
}
.project_cat{
	margin-top: 1px;
	font-size: 10px;
	color: rgba(255,255,255,.5);
}
.project_mem{
	margin-top: 1px;
	font-size: 13px;
	color: rgba(255,255,255,.5);
}
.project_more{
	color: rgba(255,255,255,.5);
	font-size: 15px;
	float: right;
	margin-right: 5px;
	margin-top: -5px;
}
#scrum_div{
/* 	background-color: #464646; */
	height: 265px;
	width: 310px;
}
#scrum_head{
	color: rgba(255,255,255,.7);
	font-weight: bold;
	margin-left: 7px;
	padding-top: 5px;
	margin-bottom: 10px;
	text-decoration: underline;
}
#scrum_stories{
	height: 215px;
}
.story{
	background-color: rgba(255,255,255,.1);
	color: rgba(255,255,255,.7);
	width: 90px;
	height: 90px;
	margin: 6px;
	float: left;
}
.story:hover{
	background-color: rgba(255,255,255,.2);
}
.story_name{
	font-size: 15px;
	font-weight: bold;
	margin-left: 4px;
	height: 70px;
	overflow: hidden;
}
.story_date{
	font-size: 10px;
	margin-left: 4px;
}
#notification_col{
	height: 485px;
}
.notification{
	color: rgba(255,255,255,.6);
	padding: 10px 10px;
	text-decoration: none;
}
.notification:hover{
	background-color: rgba(255,255,255,.2);
}
#discussion_col{
	height: 485px;
}
.qs_cell{
	color: rgba(255,255,255,.6);
	padding: 5px;
}
.qs_cell:hover{
	background-color: rgba(255,255,255,.2);
}
.qs_div{
	font-size: 19px;
	font-weight: bold;	
}
.by_div{
	font-size: 11px;
	margin-bottom: 5px;
}
.response_div{
	font-size: 15px;
	max-height: 76px;
	overflow: hidden;
}
#bottom_div{
	margin-top: 18px;
	padding-top: 10px;
	border-top: 2px solid #b4b4b4;
	font-size: 15px;
	text-align: center;
	color: #848484;
}