#dept_img{
	width: 270px;
	height: 75px;
	background-image: url("../images/dept.png");
	background-size: 270px 75px;
	background-repeat: no-repeat;
	float: left;
}
#christ_logo{
	width: 270px;
	height: 110px;
	background-image: url("../images/LOGO-BLACK.jpg");
	background-size: 270px 110px;
	float: right;
}
.top_div{
	margin-top: -80px;
}

.main_div{
	width: 730px;
	margin: 100px auto;
	height: 410px;
	border-top: 1px solid black;
}

.login_module{
	width: 300px;
	height: 260px;
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 5px;
	margin: 10px 10px;
}
.logo_div{
	background-image: url("../images/project_path.png");
	height: 100px;
	width: 300px;
	background-repeat: no-repeat;
	background-size: 300px 70px;
}
form{
	margin: 0;
}
.input_box{
	width: 300px;
	height: 40px;
}
#login_btn, #register_btn{
	font-family: Arial;
  	color: #ffffff;
  	background: #16499A;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
  	border: 0;
}
input{
	font-size: 20px;
}
#register_btn{
	background: #DADADA;
	color: #9E9E9E;
	font-size: 18px;
}

.left_div{
	padding-top: 105px;
	width: 200px;
	height: 305px;
	display: inline-block;
}
.right_div{
	width: 200px;
	height: 410px;
	display: inline-block;
}
.bottom_div{
	width: 710px;
	height: 200px;
}
#box1{
	height: 100px;
	width: 100px;
	background-color: #2E8DEF;
	float: right;
	display: inline-block;
	margin-bottom: 5px;
}
#box2{
	height: 200px;
	width: 200px;
	background-color: #BF1E4B;
	display: inline-block;
	float: right;
}
#box3{
	height: 100px;
	width: 100px;
	background-color: #B81B1B;
	margin-top: 60px;
}
#box4{
	height: 50px;
	width: 50px;
	background-color: #AA40FF;
	margin-top: 200px;
}
#box5{
	height: 50px;
	width: 50px;
	background-color: #C69408;
	display: inline-block;
	float: right;
	margin-right: 5px;
}
#box6{
	height: 150px;
	width: 150px;
	background-color: #77B900;
	display: inline-block;
	float: right;
	margin-right: 52px;
}
.footer_div{
	font-size: 12px;
	text-align: center;
	border-top: 1px solid #C2C2C2;
	padding-top: 10px;
	padding-bottom: 10px;
}