a{
	text-decoration: none;
	color: #B2B2B2;
}
#main_div{
	width: 90%;
	margin: 0 auto;
	font-family: "Calibri";
	/*font-family: "TImes New Roman";*/
}
#bottom_div{
	margin-top: 18px;
	padding-top: 10px;
	border-top: 2px solid #b4b4b4;
	font-size: 15px;
	text-align: center;
	color: #848484;
}

#pp_logo{
	background-image: url("../images/project_path.png");
	width: 286px;
	height: 64px;
	float: left;
	margin-top: 20px;
}
.login_details{
	float: left;
	margin-top: 55px;
	margin-left: 10px;
	color: #B2B2B2;
	font-size: 20px;
}
#cu_logo{
	background-image: url("../images/LOGO-BLACK.jpg");
	width: 230px;
	height: 100px;
	background-size: 230px 100px;
	background-repeat: no-repeat;
	float: right;
}

#top_div{
	border-bottom: 2px solid #b4b4b4;
	height: 100px;
	margin-top: -10px;
}

#middle_div{
	width: 100%;
	height: 500px;
}
.mid_col{
	width: 310px;
	background-color: #464646;
	float: left;
	margin-left: 10px;
	height: 500px;
	margin-top: 10px;
}
.pro_col{
	width: 210px;
}
#dp_div{
	background-image: url("../images/dp.jpg");
	width: 210px;
	height: 210px;
}
#dp_name{
	background-color: rgba(0,0,0,.4);
	height: 40px;
	width: 100%;
	vertical-align: bottom;
	position: relative;
	top: 170px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}
#dp_name a{
	color: #FFFFFF;
}
.icon_holder{
	float: left;
	/*border: 1px solid rgba(255,255,255,.3);*/
	margin-left: 10px;
	margin-top: 4px;
}
.icon_holder:hover{
	background-color: rgba(255,255,255,.2);
}
.icon_img{
	background-image: url("../images/icons/icon_strip.png");
	background-size: 90px 540px;
	height: 90px;
	width: 90px;
	
}
.dashboard_icon{
	background-position: 0px 0px;
}
.project_icon{
	background-position: 0px -90px;
}
.calender_icon{
	background-position: 0px -180px;
}
.friends_icon{
	background-position: 0px -270px;
}
.discussion_icon{
	background-position: 0px -360px;
}
.logout_icon{
	background-position: 0px -450px;
}
.col2{
	background-color: #FFFFFF;
}
.any_box
{
	font-size:20px;
	display:block;
	margin-top:10px;
	margin-left:10px;
	float:left;
}