a{
	text-decoration: none;
	color: #B2B2B2;
}
body{
	width: 1320px;
}
#main_div{
	width: 90%;
	margin: 0 auto;
	font-family: "Calibri";
	/*font-family: "TImes New Roman";*/
}
#bottom_div{
	position: relative;
	width: 90%;
	margin-bottom: -100px;
	margin-top: 18px;
	padding-top: 10px;
	border-top: 2px solid #b4b4b4;
	font-size: 15px;
	text-align: center;
	color: #848484;
}

#pp_logo{
	background-image: url("../images/project_path.png");
	width: 286px;
	height: 64px;
	float: left;
	margin-top: 20px;
}
.login_details{
	float: left;
	margin-top: 55px;
	margin-left: 10px;
	color: #B2B2B2;
	font-size: 20px;
}
#cu_logo{
	background-image: url("../images/LOGO-BLACK.jpg");
	width: 230px;
	height: 100px;
	background-size: 230px 100px;
	background-repeat: no-repeat;
	float: right;
}

#top_div{
	border-bottom: 2px solid #b4b4b4;
	height: 100px;
	margin-top: -10px;
}

#middle_div{
	width: 100%;
	height: 500px;
}
.mid_col{
	width: 310px;
/* 	background-color: #464646; */
	float: left;
	margin-left: 10px;
	height: 500px;
	margin-top: 10px;
}
.pro_col{
	width: 210px;
}
#dp_div{
	background-image: url("../images/dp.jpg");
	width: 210px;
	height: 210px;
}
#dp_name{
	background-color: rgba(0,0,0,.4);
	height: 40px;
	width: 100%;
	vertical-align: bottom;
	position: relative;
	top: 170px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}
#dp_name a{
	color: #FFFFFF;
}
.icon_holder{
	float: left;
	/*border: 1px solid rgba(255,255,255,.3);*/
	margin-left: 10px;
	margin-top: 4px;
}
.icon_holder:hover{
	background-color: rgba(255,255,255,.2);
}
.icon_img{
	background-image: url("../images/icons/icon_strip.png");
	background-size: 90px 630px;
	height: 90px;
	width: 90px;
	
}
.dashboard_icon{
	background-position: 0px 0px;
}
.project_icon{
	background-position: 0px -90px;
}
.calender_icon{
	background-position: 0px -180px;
}
.friends_icon{
	background-position: 0px -270px;
}
.discussion_icon{
	background-position: 0px -360px;
}
.logout_icon{
	background-position: 0px -450px;
}
.col2{
	background-color: #FFFFFF;
}
#content_col{
	/*background-color: green;*/
	width: 620px;
	height: 500px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#top_options{

}
.options_outer{
/* 	background-color: #464646; */
	width: 145px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.option_inner{
	/*background-color: grey;*/
	width: 90px;
	/*originally 50 px height*/
	height: 40px;	
	color: white;
	font-size: 20px;
	background-image: url("../images/icons/projectview1_icon_strip.png");
	background-size: 50px 200px;
	background-repeat: no-repeat;
	padding-left: 55px;
	padding-top: 10px;
}
.icon_about{
	background-position: 0 -150px;
}
.icon_files{
	background-position: 0 -100px;
}
.icons_upload{
	background-position: 0 0px;
}
.icons_invite{
	background-position: 0 -50px;
}
.option_inner:hover{
	background-color: rgba(255,255,255,.2);
}

#project_details{
	width: 610px;
	margin-right: 10px;
	margin-top: 20px;
	/*background: green;*/
	float: left;
	/*display: none;*/
}
.project_title{
	font-size: 40px;
	font-weight: bold;
	color: #818181;
}
.project_cat{
	color: #818181;
	font-weight: bold;
}
.project_progress{
	width: 500px;
	margin-top: 10px;
	float: left;
}
.project_progress div{
	height: 12px;
	position: relative;
}
.bacground_progress{
	width: 510px;
	background: #c9c9c9;
}
.real_progress{
	/*width: 310px;*/
	top: -12px;
	background: #8f8f8f;
}
.number_progress{
	float: left;
	margin-left: 20px;
	margin-top: -20px;
	width: 90px;
	height: 90px;
	font-size: 50px;
	color: #818181;
}
.project_abstruct{
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	padding-bottom: 30px;
	border-bottom: 2px solid #b4b4b4;
	margin-bottom: 10px;
}
#files_div, #upload_div, #invite_div{
	display: none;
}
/*#project_details:target{
	display: block;
}
.selection_div:target{
	display: block;
	background: green;
}*/
/*.selection_div{
	display: none;
}*/

#file_list{
	width: 600px;
	/*original 610px;*/
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	/*background-color: green;*/
	float: left;
}
.file_holder{
	height: 60px;
/* 	padding-top: 10px; */
/* 	border-top: 2px solid #b4b4b4; */
}

.file_details{
	height: 40px;
	width: 480px;
	float: left;
}
.file_name2{
	font-size: 20px;
	color: #000;
	border-bottom: 2px solid #b4b4b4;
}
.file_by2, .file_date2{
	font-size: 12px;
	color: #818181;
}

.file_btn{
	height: 40px;
	/*actaul height 50px*/
	width: 50px;
	float: left;
	background-image: url("../images/icons/file_icon_strip.png");
	background-color: #464646;
	font-size: 20px;
	margin-left: 10px;
	padding-top: 10px;
	/*padding-left: 20px;*/
	text-align: center;
}
.btn_download{
	background-position: 0 -50px;
}
.btn_delete{
	
}
#side_col{
	/*background-color: blue;*/
	width: 300px;
	height: 500px;
	float: left;
	margin-top: 10px;
}
#member_col{
	padding-bottom: 10px;
	border-bottom: 1px solid #818181;
}
.member_div{
	height: 50px;
	margin-top: 10px;

}
.member_name{
	/*background: green;*/
	width: 240px;
	height: 40px;
	float: left;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 20px;
	color: #818181;
}
.member_image{
	height: 50px;
	width: 50px;
	/*background: url("../images/pro_pic.png");*/
	/*background: black;*/
	background-size: 50px 50px;
	float: right;
}
.invite_icon{
	width: 290px;
	text-align: right;
	font-size: 20px;
	padding-top: 10px;
}
#recent_activity{
	padding-top: 10px;
}
.activity{
	color: #818181;
	width: 300px;
	text-align: right;
	margin-top: 10px;
}
#dropzone_outer{
	margin-top: 20px;
	margin-left: 150px;
	width: 300px;
	height: 250px;
	float: left;
}
.dropzone{
	font-size: 20px;
	width: 300px;
	height: 100px;
	border: 2px dashed #ccc;
	color: #bbb;
	line-height: 100px;
	text-align: center;
}
.dropzone.dragover{
	border-color: #000;
	color: #000;
	height: 100px;
}
#upload_btn{
	line-height: 50px;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-left: 150px;
	float: left;
	width: 300px;
	height: 50px;
	background-color: #464646;
}
.hidden{
	display:none;
}