a{
	text-decoration: none;
	color: #B2B2B2;
}
td{
	padding: 0;
}
body{
	width: 1315px;
}
#main_div{
	width: 90%;
	margin: 0 auto;
	font-family: "Calibri";
	/*font-family: "TImes New Roman";*/
}
#bottom_div{
	margin-top: 18px;
	padding-top: 10px;
	border-top: 2px solid #b4b4b4;
	font-size: 15px;
	text-align: center;
	color: #848484;
}

#pp_logo{
	background-image: url("../images/project_path.png");
	width: 286px;
	height: 64px;
	float: left;
	margin-top: 20px;
}
.login_details{
	float: left;
	margin-top: 55px;
	margin-left: 10px;
	color: #B2B2B2;
	font-size: 20px;
}
#cu_logo{
	background-image: url("../images/LOGO-BLACK.jpg");
	width: 230px;
	height: 100px;
	background-size: 230px 100px;
	background-repeat: no-repeat;
	float: right;
}

#top_div{
	border-bottom: 2px solid #b4b4b4;
	height: 100px;
	margin-top: -10px;
}

#middle_div{
	width: 100%;
	height: 500px;
}
.mid_col{
	/*width: 310px;*/
	/*background-color: #464646;*/
	float: left;
	margin-left: 10px;
	height: 500px;
	margin-top: 10px;
}
.pro_col{
	width: 210px;
}
#dp_div{
	background-image: url("../images/dp.jpg");
	width: 210px;
	height: 210px;
}
#dp_name{
	background-color: rgba(0,0,0,.4);
	height: 40px;
	width: 100%;
	vertical-align: bottom;
	position: relative;
	top: 170px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}
#dp_name a{
	color: #FFFFFF;
}
.icon_holder{
	float: left;
	/*border: 1px solid rgba(255,255,255,.3);*/
	margin-left: 10px;
	margin-top: 4px;
}
.icon_holder:hover{
	background-color: rgba(255,255,255,.2);
}
.icon_img{
	background-image: url("../images/icons/icon_strip.png");
	background-size: 90px 630px;
	height: 90px;
	width: 90px;
	
}
.dashboard_icon{
	background-position: 0px 0px;
}
.project_icon{
	background-position: 0px -90px;
}
.calender_icon{
	background-position: 0px -180px;
}
.friends_icon{
	background-position: 0px -270px;
}
.discussion_icon{
	background-position: 0px -360px;
}
.logout_icon{
	background-position: 0px -450px;
}
.col2{
	background-color: #FFFFFF;
}
.project_col{
	width: 950px;
	background-color: white;
}
.project_icons{
	/*width actual 145px... decreases for padding left*/
	/*height actual 50 px.. compensate for padding*/
	width: 145px; 
	height: 50px;
	margin-right: 8px;
	/*background-color: #464646;*/
	background-image: url("../images/icons/project_icon_strip2.png");
	background-repeat: no-repeat;
	background-size: 50px 200px;

	/*color: white;
	font-size: 25px;
	padding-left: 55px;
	padding-top: 10px;*/
}
.project_icon_text{
	/*background-color: #464646;*/
	width: 90px; 
	height: 40px;
	font-size: 20px;
	padding-left: 55px;
	padding-top: 10px;
	color: white;
}
.project_icon_text:hover{
	background-color: rgba(255,255,255,.2);
}
.current_icon{

}
.invite_icon{
	background-position: 0 -150px;
}
.add_icon{
	background-position: 0 -100px;
}
.past_icon{
	background-position: 0 -50px;
}
.upcoming_deadlines_div{
	height: 500px;
	/*background-color: #464646;*/
	width: 310px;
}
.current_project_div{
	margin-top: -10px;
	width: 620px;
	height: 418px;
	/*background-color: #464646;*/
}
#current_project_holder{
	display: block;
}
#past_project_holder{
	margin-top: -10px;
	width: 620px;
	height: 418px;
	display: none;
}
#current_projects{
	/*display: none;*/
}
#current_project:target{
	visibility: visible;
	display: block;
}
.project_block_a{
/* 	background-color: #464646; */
}
.project_block{
	/*width: 300px;
	height: 100px;
	background-color: #464646;
	margin-bottom: 10px;
	color: white;
	padding: 0 7px;
	float: left;
	margin-right: 10px;
	overflow: hidden;*/
	/*border: 3px solid #bcbcbc;*/
	padding: 0 7px;
	color: white;
	overflow: hidden;
	height: 110px;
}
.project_block:hover{
	background-color: rgba(255,255,255,.1);
}
.project_block_a{
	/*background-color: #5c5c5c;*/
	width: 300px;
	height: 110px;
/* 	background-color: #464646; */
	margin-bottom: 10px;
	color: white;
	/*padding: 0 7px;*/
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
#invites_holder{
	display: none;
}
.invite_block{
	/*width: 300px;
	height: 100px;
	background-color: #464646;
	margin-bottom: 10px;
	color: white;
	padding: 0 7px;
	float: left;
	margin-right: 10px;
	overflow: hidden;*/
	color: white;
	padding: 0 7px;
	max-width: 300px;
	height: 120px;
}
.invite_block_outer{
	max-width: 300px;
	height: 120px;
/* 	background-color: #464646; */
	margin-bottom: 10px;
	color: white;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
.project_title{
	font-size: 17px;
	font-weight: bold;
	height: 40px;
	overflow: hidden;
}
.project_cat{
	font-size: 10px;
	margin-bottom: 5px;
}
.project_member_name{
	/*width: 200px;*/
	font-size: 15px;
	height: 40px;
	overflow: hidden;
}
.percentage{
	font-size: 40px;
}
.invite_btn{
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	font-size: 20px;
}
.invite_btn:hover{
	background-color: rgba(255,255,255,.3);
}
.invite_name{
	color: white;
}
.invite_name .invite_name{
	color: green;
}
}
.project_invited_by{

}