/*
 *Jonathan Fidelis Paul
 * 30-07-2015
 */
#main_div{
	width: 90%;
	margin: 0 auto;
	font-family: "Calibri";
}

#pp_logo{
	background-image: url("../images/project_path.png");
	width: 286px;
	height: 64px;
	float: left;
}
#cu_logo{
	background-image: url("../images/LOGO-BLACK.jpg");
	width: 230px;
	height: 100px;
	background-size: 230px 90px;
	background-repeat: no-repeat;
	float: right;
}
#top_div{
	border-bottom: 2px solid #b4b4b4;
	height: 100px;
}
input, select{
	width: 300px;
	height: 30px;
	font-size: 20px;
}
#main_table{
	margin: 0 auto;
	margin-top: 50px;
}
#dp_div{
	width: 210px;
	height: 210px;
	margin-left: 50px;
}
#form_div{
	border-left: 2px solid #b4b4b4;
	height: 300px;
}
#form_div{
	padding-top: 70px;
	padding-left: 50px;
}
.submit_btn{
	color: #fff;
  	background-color: #337ab7;
	height: 40px;
}
#bottom_div{
	margin-top: 20px;
	padding-top: 10px;
	border-top: 2px solid #b4b4b4;
	font-size: 15px;
	text-align: center;
	color: #848484;
}
#edit_icon{
	width:210px;
	height:210px;
	background-image: url("../images/edit_icon.jpg");
	position:relative;
	top:-264px;
	left:-306px;
	opacity:0;
}
#edit_icon:hover{
	opacity:0.8;
}
#close_div{
	opacity:0.4;
	visibility:hidden;
	background-color:#010;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
}
#popup_div
{
	visibility:hidden;
	z-index:9999;
	background-color:#abd;
	position:relative;
	left:250px;
	top:-345px;
	max-width:210px;
	
}

#zoomin{
	background-image: url("../images/zoomin.jpg");
	width: 70px;
	height: 30px;
	float:left;
}
#zoomout{
	background-image: url("../images/zoomout.jpg");
	width: 70px;
	height: 30px;
	float:left;
}
#crop{
	background-image: url("../images/crop.jpg");
	width: 70px;
	height: 30px;
	float:left;
}
#zoomin:hover{
	opacity:0.8;
}
#zoomout:hover{
	opacity:0.8;
}
#crop:hover{
	opacity:0.8;
}